@charset "utf-8";
@import '~@/styles/element/index.scss';

html {
  body {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: $base-font-size-default;
    color: #2c3e50;
    background: #f6f8f9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.mg-layout-container {
  background: $base-color-white;
  padding: $base-padding-default;
  border-radius: $base-radius-default;
  height: 100%;
  box-sizing: border-box;
}

.mg-dialog-form {
  width: 80%;
  margin: 0 auto;
}
.mg-dialog-footer{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
